<html>
<head>
<title>Hello</title>
</head>
<body>
<h1>Hello, world!</h1>

<table
	cellpadding=3
	cellspacing=0
	border=1
>
<tr>
	<th>Name</th><th>Pet</th>
</tr>
{% for my_item in my_collection %}
<tr>
	<td>{{ my_item.name }}</td>
	<td>{{ my_item.pet }}</td>
</tr>
{% endfor %}
</table>
</body>
</html>
